<nav class="navbar">
    <!-- dropdown container -->
    <div class="dropdown">
      <button class="dropdown-button">
          <img src="/assets/high-quota-logo.png" alt="High Quota HQ" class="logo" />
      </button>
      <ul class="dropdown-menu" hidden>
              <!-- home button -->
      <li data-home="true">
        <img src="/assets/high-quota-logo.png" alt="Home" class="dropdown-logo" />
      </li>
          <li data-game="lethal-company" data-logo="/assets/lethal-company-logo.png">
              <img src="/assets/lethal-company-logo.png" alt="Lethal Company" class="dropdown-logo" />
          </li>
          <li data-game="lethal-company-modded" data-logo="/assets/lethal-company-modded-logo.png">
              <img src="/assets/lethal-company-modded-logo.png" alt="Lethal Company Modded" class="dropdown-logo" />
          </li>
      </ul>
  </div>
  <ul>
    <li><button id="home-button">Home</button></li>
    <li><button id="about-button">About</button></li>
    <li><button id="admin-button" style="display: none;">Admin</button></li>

    <div class="search-container">
      <input type="text" id="user-search-input" placeholder="Search users..." autocomplete="off">
      <ul id="user-results-dropdown" class="user-results-dropdown"></ul>
    </div>

    <li class="login-logout-buttons">
      <button id="login-button" style="display: none;">Login</button>
      <button id="logout-button" style="display: none;">Logout</button>
      <button id="profile-button" class="profile-button" style="display: none; padding: 0px 0px;"><img class="navbar-profile-image" id="profile-image" src="/assets/default-avatar.png"/></button>
    </li>
    
  </ul>
</nav>
