/* GLOBAL STYLES */

@font-face {
    font-family: 'systematic_jcool';
    src: url('/assets/fonts/9systema-webfont.woff2') format('woff2'),
         url('/assets/fonts/9systema-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: white;
    font-family: 'systematic_jcool';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 5rem;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: url('/assets/mansionbg.png') no-repeat center center;
    background-size: cover;
    /* animation: zoomBackground 20s infinite alternate ease-in-out; */
    pointer-events: none;
}

.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #111111ff;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    z-index: 1000;
}

.footer-links {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 1rem;
padding: 0 1rem;
}

.footer-link {
color: #ccc;
text-decoration: none;
transition: color 0.2s;
}

.footer-link:hover {
color: #fff;
}

/* mobile */
@media (max-width: 600px) {
.footer-links {
    align-items: center;
}

body {
    margin-bottom: 5rem;
}
}
/*
@keyframes zoomBackground {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
*/
/* links and buttons */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #f43835;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

footer {
    background-color: #1f1f1f;
    color: white;
    padding: 10px;
    text-align: center;
}

/* page content container */
.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

/* navbar container */
.navbar {
    background: linear-gradient(to bottom, rgba(88, 16, 16, 0.825), rgba(206, 34, 18, 0.721));
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    font-family: 'systematic_jcool';
    font-weight: normal;
    font-style: normal;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar:hover {
    box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.4);
}

/* navbar buttons container */
.navbar ul {
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar ul li {
    display: inline;
}

.navbar-profile-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ff0000b6;
}

.navbar .login-logout-buttons {
    margin-left: auto;
}

/* buttons */
.navbar ul li button {
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-family: inherit;
    font-weight: bold;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}

/* hover effects */
.navbar ul li button:hover {
    background-color: #e64919ad;
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* active button */
.navbar ul li button.active {
    background-color: #d84315;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar button:hover {
    background-color: #ffffff80;
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar button:active {
    background-color: #ffffffba;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* text links */
.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #d82215;
}

.navbar .login-logout-buttons {
    align-items: center;
    margin-left: auto;
    display: flex;
    gap: 15px;
}

.navbar ul {
    flex: 1;
    display: flex;
    gap: 15px;
    align-items: center;
}

/* dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }

/* dropdown button */
.dropdown-button {
    cursor: pointer;
    background-color: #e7e7e762;
    border: none;
    padding: 10px;
    border-radius: 15px;
  }

.dropdown-button:hover {
    background-color: #eaeaeaad;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* dropdown menu */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1f1f1f;
    list-style: none;
    padding: 5px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

/* dropdown menu items */
.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: block;
}

.dropdown-menu li:hover {
    background-color: #7f7f7f;
}

.dropdown-menu img {
    height: 40px;
    width: auto;
}

/* dropdown logo */
.dropdown-logo {
    display: block;
    margin: auto;
}

.dropdown.active .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.dropdown .logo {
    height: 40px;
    width: auto;
}

.search-container {
    position: relative;
    width: 200px;
}

#user-search-input {
    font-family: 'systematic_jcool';
    width: 100%;
    padding: 10px 14px;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 0px;
    background-color: #ddd;
    box-shadow: inset -2px -2px 6px rgba(0, 0, 0, 0.5);
    color: #222;
}

#user-search-input:focus-within {
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.8);

}

#user-search-input::placeholder {
    color: #0008;
    font-weight: normal;
}

#user-results-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 4px 0 0 0;
    padding: 0;
    list-style: none;
    background-color: #ddd;
    border-radius: 6px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    max-height: 350px;
    overflow-y: auto;
    z-index: 999;
    gap: 0px;
    display: block;
}

#user-results-dropdown li {
    border-bottom: 1px solid #f1f5f9;
}

#user-results-dropdown li:last-child {
    border-bottom: none;
}

#user-results-dropdown a {
    display: block;
    padding: 8px 8px;
    color: #334155;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.15s ease;
}

/* 5. Hover state for clean UX */
#user-results-dropdown a:hover {
    color: #0284c7;
}

.logout-confirmation {
    background-color: #0006;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    align-self: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.confirm-box {
    background-color: rgba(88, 16, 16, 1);
    padding: 20px 40px;
    border: dashed 6px #ddd;
    border-radius: 20px;
    box-shadow: 0px 8px 20px 10px #0008
}

.logout-buttons button {
    font-size: 1rem;
    font-family: 'systematic_jcool';
}

.logout-confirm-button {
    background-color: #f66;
}

.logout-cancel-button {
    background-color: #ddd;
}

.logout-hidden {
    display: none;
}

@media (max-width: 1200px){
    .navbar ul {
        gap: 12px;
    }

    .navbar ul li button {
        padding: 6px 10px;
        font-size: 14px;
    }
}

@media (max-width: 950px){
    .navbar ul {
        gap: 8px;
    }

    .navbar ul li button {
        padding: 6px 8px;
        font-size: 13px;
    }

    .search-container {
        width: 120px;
        font-size: 12px;
    }

    #user-results-dropdown a {
        font-size: 12px;
    }
}
/*
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar ul li {
        margin: 5px 0;
    }

    .navbar .login-logout-buttons {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .dropdown {
        transform: translateX(1.5%);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .dropdown .dropdown-menu {
        position: static;
        display: none;
        visibility: visible;
        opacity: 1;
        box-shadow: none;
        border-radius: 0;
        width: 90%;
        max-width: 300px;
        margin: 0 auto;
    }

    .dropdown.active .dropdown-menu {
        display: flex;
    }

    .dropdown-menu li {
        padding: 15px;
        font-size: 16px;
    }

    .dropdown .dropdown-toggle {
        width: 100%;
        padding: 12px;
        font-size: 18px;
    }
}*/
