@font-face {
  font-family: 'systematic_jcool';
  src: url('/assets/fonts/9systema-webfont.woff2') format('woff2'),
       url('/assets/fonts/9systema-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #ffffff;
  font-family: 'systematic_jcool';
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.submission-form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #1e1e1e9b;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.submission-form-container:hover {
  transform: scale(1.006);
  box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.4);
}

h1 {
  text-align: center;
  color: #ff3e3e;
  margin-bottom: 20px;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-family: 'systematic_jcool';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #e0e0e0;
  margin-bottom: 5px;
}

/* inputs and textareas */
input,
textarea,
select {
  display: block;
  width: 100%;
  background-color: #2c2c2c98;
  color: #ffffff;
  border: 1px solid #444444;
  border-radius: 5px;
  padding: 10px;
  font-family: 'systematic_jcool';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 60px;
}

input::placeholder,
textarea::placeholder {
  color: #b0b0b0;
  font-weight: normal;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #ff3e3e;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

/* video link fields */
textarea#videos1,
textarea#videos2,
textarea#videos3,
textarea#videos4 {
  margin-bottom: 15px;
}

/* field groups */
#hqFields,
#sdcFields,
#smhqFields {
  margin-bottom: 20px;
}

/* button */
button[type="submit"] {
  background-color: #ff3e3e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-family: 'systematic_jcool';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #ff5f5f;
}

/* placeholder text */
input::placeholder,
textarea::placeholder {
  color: #b0b0b0;
  font-weight: bold;
}

input,
textarea {
  padding: 10px;
  background-color: #2c2c2ca2;
  color: #ffffff;
  border: 1px solid #444444;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
}

.search-wrapper {
  position: relative;
  display: inline-block;
  width: 200px;
}

.results-dropdown {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  list-style: none;
  padding: 0px;
  background: #111;
  border: 1px solid rgb(204, 204, 204);
  z-index: 10;
  margin-top: -12px;
  display: block;
}

.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
}

.remove-video-btn, .add-video-btn, .remove-player-btn, .add-player-btn, .remove-first-video-btn {
  font-family: 'systematic_jcool';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.add-video-btn, .add-player-btn {
  border-radius: 16px;
  background-color: #ddd;
}

.add-video-btn:hover, .add-player-btn:hover {
  background-color: #888;
}

.add-video-btn {
  height: 32px;
}

.add-player-btn {
  height: 40px;
  border-radius: 24px;
}

.remove-video-btn, .remove-player-btn, .remove-first-video-btn {
  background-color: #ff3e3e;
  color: #fff;
  border-radius: 16px;
}

.remove-video-btn:hover, .remove-player-btn:hover, .remove-first-video-btn:hover {
  background-color: #ff5f5f;
}

.remove-video-btn, .remove-first-video-btn {
  width: 32px;
  height: 32px;
}

.remove-player-btn {
  width: auto;
  height: 40px;
  border-radius: 24px;
}

.video-url-input {
  margin: 5px 0px;
}

.video-input-wrapper, .player-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 768px) {
  .submission-form-container {
    padding: 15px;
  }

  input,
  textarea,
  select {
    font-family: 'systematic_jcool';
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
  }

  button[type="submit"] {
    font-family: 'systematic_jcool';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    padding: 10px;
  }
}
